<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224503280319-oq4cpbpvfh188ab4if0hqonfj0bkgnaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224503280319-oq4cpbpvfh188ab4if0hqonfj0bkgnaf</string>
	<key>API_KEY</key>
	<string>AIzaSyA4g3mJ7CE0g_Reu3mPR8UE5LEpEHENppY</string>
	<key>GCM_SENDER_ID</key>
	<string>224503280319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastiangirsza.wydatki</string>
	<key>PROJECT_ID</key>
	<string>wydatki-9e2b3</string>
	<key>STORAGE_BUCKET</key>
	<string>wydatki-9e2b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224503280319:ios:413726af557c8e1b374c0a</string>
</dict>
</plist>